<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>CSS3登录注册切换动画模板 - 站长素材</title>

    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vuejs-2.5.16.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jquery.cookie.js"></script>

</head>
<body>

<div class="materialContainer" id="app" >
    <div class="box">
        <div class="title">登录</div>
        <button @click="test1()">查看token</button>
        <div class="input">
            <label for="name">用户名</label>
            <input type="text" name="userName" id="name" v-model="user1" v-on:keyup.delete="del" v-on:keyup.enter="login">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="pass">密码</label>
            <input type="password" name="password" id="pass" v-model="pass1" v-on:keyup.delete="del" v-on:keyup.enter="login">
            <span class="spin"></span>
        </div>
        <div class="button login">
            <button @click="login()">
                <span>登录</span>
                <i class="fa fa-check"></i>
            </button>
        </div>
        <a href="javascript:" class="pass-forgot">忘记密码？</a>
    </div>

    <div class="overbox" >
        <div class="material-button alt-2">
            <span class="shape"></span>
        </div>
        <div class="title">注册</div>
        <div class="input">
            <label for="regname">用户名</label>
            <input type="text" name="regname" id="regname" v-model="user1" v-on:keyup.delete="del"  v-on:keyup.enter="save">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="regpass">密码</label>
            <input type="password" name="regpass" id="regpass" v-model="pass1" v-on:keyup.delete="del" v-on:keyup.enter="save">
            <span class="spin"></span>
        </div>
        <div class="input">
            <label for="reregpass">确认密码</label>
            <input type="password" name="reregpass" id="reregpass" v-model="passt" v-on:keyup.delete="del" v-on:keyup.enter="save">
            <span class="spin"></span>
        </div>
        <div class="button">
            <button @click="save()">
                <span>注册</span>
            </button>
        </div>

    </div>


</div>

    <script src="js/vue/login.js"></script>
</body>
</html>